dotfiles/config/*

# i3 dotfiles
!dotfiles/config/i3
dotfiles/config/i3/*
!dotfiles/config/i3/config

# xmodmap dotfiles
!dotfiles/config/xmodmap
dotfiles/config/xmodmap/*
!dotfiles/config/xmodmap/escapeswitch

# VSCode settings
!dotfiles/config/Code
dotfiles/config/Code/*
!dotfiles/config/Code/User
dotfiles/config/Code/User/*
!dotfiles/config/Code/User/settings.json

# todo
git
kitty
nvim
rofi

# maybe
fish
xfce4
user-dirs.dirs
user-dirs.locale
mimeapps.list
pavucontrol.ini
pulse
dconf
environment.d
