dotfiles/config/*

# i3 dotfiles
!dotfiles/config/i3
dotfiles/config/i3/*
!dotfiles/config/i3/config

# xmodmap dotfiles
!dotfiles/config/xmodmap
dotfiles/config/xmodmap/*
!dotfiles/config/xmodmap/escapeswitch

# VSCodium settings
!dotfiles/config/VSCodium
dotfiles/config/VSCodium/*
!dotfiles/config/VSCodium/User
dotfiles/config/VSCodium/User/*
!dotfiles/config/VSCodium/User/settings.json

# todo
git
kitty
nvim
rofi

# maybe
fish
xfce4
user-dirs.dirs
user-dirs.locale
mimeapps.list
pavucontrol.ini
pulse
dconf
environment.d
